{% extends 'base.html' %}


{% block title %}
{{ current_subreddit.display_name }}
{% endblock %}

{% block billboard %}
        {% if current_subreddit %}
          <div class="row py-lg-5" id="billboard">
            <div class="col-lg-6 col-md-8 mx-auto" >
              <h1 class="fw-light">{{ current_subreddit.display_name }}</h1>
              <p class="lead text-muted">{{ current_subreddit.public_description }}</p>
              <p>
                <!--<a href="{{ url_for('subreddit_learn_more_page', subreddit=current_subreddit.display_name) }}" class="btn btn-outline-primary my-2 shadow"> Learn more </a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
              </p>
            </div>
          </div>
        {% endif %} 
{% endblock %}



{% block body %}


<main class="main shadow-top">
  
    <div class="album py-5 bg-light">

        <div class="container">
            <div class="row">
                
                {% include 'sidebar.html' %}

                <div class="col-9 container">
            
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 card-columns">

                        {% for submission in submissions.items %}
                            <div class="col-3 card_container-card">
                                <div class="card shadow">
                                    <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                    -->

                                    <object data="{{ submission.url }}" type="image/png">
                                        <img src="{{ url_for('static', filename='img/default_submission_img.png') }}" alt="">
                                    </object>

                                    <div class="card-body">
                                        <p class="card-text">{{ submission.title }}</p>
                                        
                                        <div class="d-flex justify-content-between align-items-center">
                                        
                                            <div class="btn-group">
                                            <a href="{{ url_for('submission_page', submission=submission.id) }}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                            <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                        </div>

                                        <small class="text-muted">{{ submission.created_at.strftime('%d.%m.%Y') }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                    <div class="pagination">

                        <div class="text-right">
                            <a href="{{ url_for('subreddit_page', subreddit=current_subreddit.display_name, page=submissions.prev_num) }}"
                            class="btn btn-outline-dark 
                            {% if submissions.page == 1 %}disabled{% endif %}">
                                &laquo;
                            </a><!-- Loop through the number of pages to display a link for each-->
                            {% for page_num in submissions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
                        <!-- Check for the active page and set the link to "Active"-->
                                    {% if submissions.page == page_num %}
                                    <a href="{{ url_for('subreddit_page', subreddit=current_subreddit.display_name, page=page_num) }}"
                                    class="btn btn-dark">
                                        {{ page_num }}
                                    </a>
                                    {% else %}
                                    <a href="{{ url_for('subreddit_page', subreddit=current_subreddit.display_name, page=page_num) }}"
                                    class="btn btn-outline-dark">
                                        {{ page_num }}
                                    </a>
                                    {% endif %}
                                {% else %}
                                    ...
                                {% endif %}
                            {% endfor %}    <a href="{{ url_for('subreddit_page', subreddit=current_subreddit.display_name, page=submissions.next_num) }}"
                            class="btn btn-outline-dark 
                            {% if submissions.page == submissions.pages %}disabled{% endif %}">
                                &raquo;
                            </a>
                        </div>
                        
                    </div>
                    <p class="text-center mt-3">
                        Showing page {{ submissions.page }} of {{ submissions.pages }}
                        </p>
                    </div>
                    
      
            </div>
        </div>
    </div>


  
  </main>
  

{% endblock %}