{% extends 'base.html' %}


{% block title %}
Profile subreddits
{% endblock %}

{% block billboard %}
{% endblock %}




{% block body %}



<main class="main">
  
    <div class="album py-5 bg-light">

        <div class="container">
            <div class="row">
                
                {% include 'profile_sidebar.html' %}

                <div class="col-9 container">
            
                    <div class=" row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 card_container">

                        
                        <div class="card bg-light shadow submission_content">
                            
                            <div class="row">

                                <div class="col-9">
                                    <h2>Subreddits</h2>
                                </div>
                                <div class="col-3">
                                    <a class="btn btn-success w-100 mb-2 btn btn-lg rounded-3" href="{{ url_for('profile_new_subreddit') }}" role="button">Create subreddit</a>
                                </div>
                            </div>
                            <hr>

                            {% for subreddit in current_user.subreddits %}

                                <form method="POST" enctype="multipart/form-data" class="">
                                    
                                    <div class="row g-3">
                                    {{ form.hidden_tag() }}
                                    {{ form.id( type="hidden", value = subreddit.id ) }}
                                    
                                    <div class="col-12">
                                    {{ form.display_name.label(class="form-label") }}
                                    {{ form.display_name(class="form-control rounded-3", placeholder="", value = subreddit.display_name) }}
                                    </div>
                                    
                                    <div class="col-12">
                                    {{ form.subreddit_logo.label(class="form-label") }}
                                    {{ form.subreddit_logo(class="form-control rounded-3", placeholder="subreddit logo", value=subreddit.subreddit_logo) }}        
                                    </div>
                                    
                                    <div class="col-12">
                                    {{ form.subreddit_img.label(class="form-label") }}
                                    {{ form.subreddit_img(class="form-control rounded-3", placeholder="subreddit img", value = subreddit.subreddit_img) }}
                                    </div>

                                    <div class="col-12">
                                    {{ form.description.label(class="form-label") }}
                                    <textarea class="form-control rounded-3" id="description" name="description">{{ subreddit.description }}</textarea>
                                    </div>

                                    <div class="col-12">
                                    {{ form.public_description.label(class="form-label") }}
                                    <textarea class="form-control rounded-3" id="public_description" name="public_description">{{ subreddit.public_description }}</textarea>
                                    
                                    </div>

                                    <div class="col-8"></div>
                                    
                                    
                                    <div class="col-2">
                                        {{ delete.hidden_tag() }}
                                        {{ delete.id( type="hidden", value = subreddit.id ) }}
                                        {{ delete.submit(class="w-100 mb-2 btn btn-lg rounded-3 btn-danger") }}                                
                                    </div>

                                    <div class="col-2">
                                        {{ form.submit(class="w-100 mb-2 btn btn-lg rounded-3 btn-primary") }}                                
                                    </div>
                                    </div>
                                </form>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
  
  </main>
  

{% endblock %}